@using iCheap.Models
@using System.Linq
@{
    ViewBag.Title = "CategoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<Products> products = ViewBag.Products as IEnumerable<Products>;
    IEnumerable<Categories> categories = ViewBag.Categories as IEnumerable<Categories>;
}
<section class="container">
    <nav class="breadcrumbs"> 
        <a href="#">Trang chủ</a> <span class="divider">›</span>  
        @if (Model.ParentID == 0)
        {
            @Model.VNName
        }
        else
        {
            <a href="#">@Model.Parent.VNName</a> <span class="divider">›</span> @Model.VNName
        }
    </nav>
</section>
<section class="container">
    <div class="row">
        <!-- Left column -->
        <aside class="col-sm-4 col-md-3 col-lg-3 content-aside">
            <!-- Shop by categories -->
            <section>
                <h3>Danh mục</h3>
                <ul class="expander-list">
                    @foreach (var cat in categories)
                    {
                        <li class="last">
                            <span class="name">  
                                @if (cat.Childs != null && cat.Childs.Count() > 0)
                                {
                                    <span class="expander">-</span>
                                }
                                @Html.ActionLink(cat.VNName, "CategoryDetail", "Category", new { id = cat.CategoryID, url = cat.VNRewriteUrl }, new { @class = "name" }) </span>
                            @if (cat.Childs != null && cat.Childs.Count() >= 0)
                            {
                                <ul>
                                    @foreach (var catChild in cat.Childs)
                                    {
                                        <li><span class="name">@Html.ActionLink(catChild.VNName, "CategoryDetail", "Category", new { id = catChild.CategoryID, url = catChild.VNRewriteUrl }, null)</span></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </section>
            <!-- //end Shop by categories -->
            <div class="section-divider"></div>
            <!-- Popular tags -->
            <section class="cloud-tags">
                <h3>Thẻ tag</h3>
                @{ 
                    var tag = (Model.Tag + string.Empty) as string;
                    var tags = tag.Split(',').ToList();
                }
                @foreach (var t in tags)
                {
                    <a href='listing.html' class='font-xs'>@t</a>
                }
                @*@{
                    Html.RenderPartial("_CategoryDetailTags", ViewData["category"]);
                }*@
            </section><!-- //end Popular tags -->
        </aside>
        <!-- //end Left column -->
        <!-- Right column -->
        <section class="col-sm-8 col-md-9 col-lg-9 content-center">
            <!-- Slider -->
            <section class="owl-slider-outer slider-listing hidden-xs">
                <a class="owl-slider-prev"></a>
                <a class="owl-slider-next"></a>
                <div class="owl-slider">
                    <div class="item">
                        <img src="~/assets/client/images/temp/listing-image-01-1171x208.jpg" alt="ten hang hoa" />
                        <div class="listing-title women hidden-xs">
                            <h1>@Model.VNName</h1>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/assets/client/images/temp/listing-image-01-1171x208.jpg" alt="ten hang hoa" />
                        <div class="listing-title women hidden-xs">
                            <h1>@Model.VNName</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //end Slider -->
            <!-- Description -->
            <p>
                @Model.VNDescription
            </p>
            <!-- //end Description -->
            <!-- Filters -->
            <div class="filters-panel">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4"></div>
                    <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                        <div class="view-mode">
                            View as:&nbsp;
                            <a href="#" class="view-grid"><span class="icon-th"></span></a>
                            <a href="#" class="view-list"><span class="icon-th-list"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs">
                        <div class="pull-right"></div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="pull-left hidden-xs"></div>
                <div class="pull-right hidden-xs">
                    <div class="pagination"> 
                        <a href="#">1</a> 
                        <a href="#">2</a> 
                        <a href="#" class="icon"><span class="icon-arrow-right-3 "></span></a> 
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //end Filters -->
            <!-- Products list -->
            <div class="products-list products-list-small row">
                @foreach (var product in products)
                {
                    <div class="product-preview">
                        <div class="preview animate scale">
                            <a href="@Url.Action("ProductDetail", "Product", new { id = product.ProductID, url = product.VNRewriteUrl })" class="preview-image"><img class="img-responsive animate scale" src="@product.Thumbnail" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out-small"></li>
                                <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="product_default.html" class="quick-view"> 
                                @for (int i = 1; i <= 5; i++)
                                {
                                    var tmp = product.RateCount;
                                    if (i <= tmp)
                                    {
                                        <i class="icon-star-3"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-star-empty"></i>
                                    }
                                }
                            </a>
                        </div>
                        <h3 class="title"><a href="@Url.Action("ProductDetail", "Product", new { id = product.ProductID, url = product.VNRewriteUrl })" class="preview-image">@product.VNName</a></h3>
                        <span class="price old">@BaseHelpers.ConvertPriceToString(product.MarketPrice ?? 0)</span> 
                        <span class="price new">@BaseHelpers.ConvertPriceToString(product.Price ?? 0)</span>
                        <!--rating-->
                        <div class="list_rating">
                            <span class="rating"> 
                                <i class="icon-star-3"></i> 
                                <i class="icon-star-3"></i> 
                                <i class="icon-star-3"></i> 
                                <i class="icon-star-3"></i> 
                                <i class="icon-star-empty"></i> 
                            </span>
                        </div>
                        <!--description-->
                        <div class="list_description">@product.VNDescription</div>
                        <!--buttons-->
                        <div class="list_buttons">
                            <a class="btn btn-mega pull-left" href="#">Thêm vào giỏ hàng</a>
                            <div class="add-to-links">
                                <ul>
                                    <li> <a href="#"><i class="icon-heart"></i></a> <a href="#">Add to Wish List</a> </li>
                                    <li> <a href="#"><i class="icon-justice"></i></a> <a href="#">Add to Compare</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- //end Products list -->
            <!-- Filters -->
            <div class="filters-panel hidden-xs">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4"></div>
                    <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                        <div class="view-mode">
                            View as:&nbsp;
                            <a href="#" class="view-grid"><span class="icon-th"></span></a>
                            <a href="#" class="view-list"><span class="icon-th-list"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs">
                        <div class="pull-right"></div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="pull-left hidden-xs"></div>
                <div class="pull-right hidden-xs">
                    pagination
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //end Filters -->
        </section>
        <!-- //end Right column -->
    </div>
</section>